@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e2e0ee;
  font-family: "Open Sans", sans-serif;
  padding: 20px;
}

h1 {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 10%;
}

.coming-soon {
  max-width: 600px;
  margin: 0 auto;
}

.countdown {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-bottom: 5%;
}

h2 {
  font-size: 20px;
}

.img {
  max-width: 600px;
  margin: 0 auto;
  padding: 10px;
}

.waiting {
  width: 100%;
}

@media (max-width: 600px) {
  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 18px;
  }

  .img {
    max-width: 300px;
  }
}
